.Destination{
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./assets/about-bg-free-img.b181dbb2b16e44fc0bc5.jpg);
}
@keyframes custom-bounce {
    0%, 100% {
      transform: translateY(-10px); /* تقليل ارتفاع القفز */
    }
    50% {
      transform: translateY(0); /* العودة إلى الوضع الطبيعي */
    }
  }
  
  .custom-bounce {
    animation: custom-bounce 3s infinite; /* تقليل السرعة */
  }
  @keyframes custom-bounce1 {
    0%, 100% {
      transform: translateX(-10px); /* تقليل ارتفاع القفز */
    }
    50% {
      transform: translateX(0); /* العودة إلى الوضع الطبيعي */
    }
  }
  
  .custom-bounce1 {
    animation: custom-bounce1 3s infinite; /* تقليل السرعة */
  }
  @keyframes slow-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .slow-spin {
    animation: slow-spin 12s linear infinite;
  }


    /* Content US */

    .bgContactUs{
      background-image: url(./Assets/cotactus.jpg);
    }
     .bgTour{
      background-image: url(./Assets/alahramat_msr_a7acd11ef6.webp);
    }
      .topdestinat{
      background-image: url(./Assets/topdest.jpg);
    }
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    
    .no-scrollbar {
      -ms-overflow-style: none;  /* For Internet Explorer */
      scrollbar-width: none;  /* For Firefox */
    }
        .servess{
      background-image: url(./Assets/destination1.png);
      background-position: center;
      
    }
    .footer{
      background-image: url(./Assets/foot.jpg);
      
    }